span {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #000;    
    padding: 0;
    margin: 1px;
    &.test-block {
        background-color: yellow;
    }
}
div {
    padding: 0;
    margin: 0;
}